* {
    margin: 0;
    padding: 0;
}

body {
    background: #F6F6F6;
    font-family: 'Roboto';
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.auth {
    width: 400px;
    padding: 40px 24px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.auth__logo {
    text-align: center;
    margin-bottom: 20px;
}

.auth__title {
    text-align: center;
    margin: 0 0 20px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.login {
    padding: 12px 20px;
    width: -webkit-fill-available;

    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    margin-bottom: 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.password {
    padding: 12px 20px;
    width: -webkit-fill-available;

    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.auth__button {
    padding: 12px 20px;

    width: 100%;
    border: none;

    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFF;
}